:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.card {
  margin-bottom: 10px;
}


.filter {

}

.filter-chips {

}

.list {
  flex: 1;

  &__container {
    height: 100%;
  }
}
