.layout {
  display: flex;
  flex-direction: column;
  height: 100%;

  &__spacer {
    margin-top: 67px;
  }

  &__content {
    padding: 10px;
    flex: 1;
  }
}

img {
  width: 180px;
  cursor: pointer;
  outline: none;
}

.toolbar-spacer {
  flex: 1;
}

mat-toolbar {
  box-shadow: 0 4px 18px 0 rgba(0,0,0,.12), 0 7px 10px -5px rgba(0,0,0,.15);
  background: #fff;
  position: fixed;
  z-index: 1;
  top: 0;
  transform: translateZ(0)
}

mat-sidenav-container {
  height: 100%;
}

.menu {
  list-style: none;
  padding: 0;
  margin: 0;

  &__item {
    padding: 5px 10px;
  }

  &__button {
    width: 100%;
  }
}