<form [formGroup]="form" class="filter" class="filter" *ngIf="true">
  <div class="filter__item">
    <mat-form-field appearance="standard">
      <mat-label>Suchen</mat-label>
      <input matInput type="text" formControlName="searchString">
    </mat-form-field>
  </div>
  <div class="filter__item">
    <mat-form-field appearance="standard">
      <mat-label>
        Kategorie
      </mat-label>
      <mat-select placeholder="Kategorie" formControlName="categories" multiple>
        <mat-option *ngFor="let category of categories" [value]="category">{{category}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</form>
<section class="filter-chips" *ngIf="categoriesSelect$ | async">
  <mat-chip-list>
    <mat-chip *ngFor="let category of categoriesSelect$ | async" removable (removed)="removeFilterChip(category)">
      {{ category }}
      <mat-icon matChipRemove>cancel</mat-icon>
    </mat-chip>
  </mat-chip-list>
</section>
<mat-card *ngFor="let member of filteredMembers$ | async" class="card">
  <mat-card-content>
    <div style="margin-bottom: 3px;">
      <strong>{{ member.lastname }}, {{ member.firstname }}</strong> (* 23.09.1982)<br>
      <span *ngIf="member.category" style="color: #c91711; font-family: 'Times New Roman'; font-style: italic;">{{ member.category }}</span>
    </div>
      Stellinger Weg 53 - 20255 Hamburg<br>
      Telefon: 0160 555 31 36<br>
      info@t3labs.de
  </mat-card-content>
</mat-card>
